*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/java/com/meshach/tictactoe/_GameOver
app/src/main/java/com/meshach/tictactoe/Classes
app/src/main/java/com/meshach/tictactoe/CPUPlaying
app/src/main/java/com/meshach/tictactoe/GamePlay
app/google-services.json
app/src/main/res/values/strings.xml
*.xml
app/src/main/java/com/meshach/tictactoe/StartUp2.java
res/values/*
